.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--z-fixed);
  background-color: var(--background-color);

  .dimming {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .dimming {
      @keyframes antidimming {
        0% {
          left: 0;
          opacity: 0.7;
        }
        99% {
          left: 0;
        }
        100% {
          left: -100vw;
          opacity: 0;
        }
      }

      @keyframes dimming {
        0% {
          left: 0;
          opacity: 0;
        }

        100% {
          left: 0;
          opacity: 0.7;
        }
      }
      display: initial;
      position: absolute;
      top: 0;
      opacity: 0;
      left: -100vw;
      width: 100vw;
      height: 100vh;
      background-color: black;

      &.active {
        animation: dimming 0.3s forwards
      }

      &:not(.active) {
        animation: antidimming 0.3s forwards;
      }
    }
  }

  .nav {
    height: var(--header-height);
    display: grid;
    grid-template-columns: 1fr auto;

    .logo-container {
      display: flex;
      align-items: center;
    }

    .menu {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      flex: 1;

      .menu-logo-container {
        display: none;
      }

      .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .nav-item {
          font-weight: var(--font-medium);
          color: var(--header-color);
          a {
            color: var(--header-color);
          }
        }
      }

      .close-menu {
        display: none;
      }
    }

    .open-menu {
      display: none;
    }

    @media screen and (max-width: 700px) {
      .open-menu {
        display: initial;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .menu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        width: 70vw;
        background-color: var(--background-color);
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
        font-size: var(--menu-font-size);
        transition: left var(--header-transition);

        @media screen and (max-width: 575px) {
          width: 100vw;
        }

        &.active {
          left: 0;
        }

        .menu-logo-container {
          display: initial;
          border-bottom: 1px solid var(--footer-border);
          width: 100%;
          padding-bottom: 15px;
        }

        .nav-list {
          flex-direction: column;
          align-items: flex-start;
          gap: 1.2em;
        }

        .close-menu {
          display: initial;
          position: absolute;
          top: 1rem;
          right: 1rem;
          cursor: pointer;

          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
