.price-badge {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--container-color);
  border-radius: 5px;
  padding: 0px 30px;

  .price {
    font-size: var(--h3-font-size);
    color: var(--header-color);
  }

  .period {
    color: var(--price-period-color);
    font-size: var(--normal-font-size);
  }
}