.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--footer-border);
  padding-top: 20px;
  padding-bottom: 40px;

  .link {
    cursor: pointer;
  }

  @media screen and (max-width: 520px) {
    flex-direction: column;
  }

  @media screen and (max-width: 360px) {
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
    }
  }
}